{% extends "etl-base.html" %}
{% block title %}ETL-Admin{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='datatable/css/jquery.dataTables.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='datatable/extensions/FixedHeader/css/fixedHeader.jqueryui.css')}}">
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='datatable/js/jquery.dataTables.js')}}">
</script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='datatable/extensions/FixedHeader/js/dataTables.fixedHeader.js')}}">
</script>
{% endblock styles%}

{% block scripts %}
<script type="text/javascript" language="javascript">
$(document).ready(function() {
	$('#example').DataTable({
		fixedHeader: true
	});
} );
	</script>
{% endblock scripts %}
{% block page_content %}
<div class="container">
		<section>
			<h1>ETL Jobs</h1>
			<table id="example" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>etl_system</th>
						<th>etl_job</th>
						<th>etl_server</th>
						<th>description</th>
						<!-- <th>frequency</th> -->
						<th>jobtype</th>
						<th>enable</th>
						<th>last_starttime</th>
						<th>last_endtime</th>
						<th>last_jobstatus</th>
						<th>last_txdate</th>
						<!-- <th>last_filecnt</th> -->
						<!-- <th>last_cubestatus</th> -->
						<!-- <th>cubeflag</th> -->
						<!-- <th>checkflag</th> -->
						<!-- <th>autooff</th> -->
						<!-- <th>checkcalendar</th> -->
						<!-- <th>calendarbu</th> -->
						<th>runningscript</th>
						<th>jobsessionid</th>
						<!-- <th>expectedrecord</th> -->
						<!-- <th>checklaststatus</th> -->
						<!-- <th>timetrigger</th> -->
					</tr>
				</thead>
				<tbody>
					{% for j in job %}
					<tr>
					  	<td>{{j.etl_system}}</td>
						<td>{{j.etl_job}}</td>
						<td>{{j.etl_server}}</td>
						<td>{{j.description}}</td>
						<!-- <td>{{j.frequency}}</td> -->
						<td>{{j.jobtype}}</td>
						<td>{{j.enable}}</td>
						<td>{{j.last_starttime}}</td>
						<td>{{j.last_endtime}}</td>
						<td>{{j.last_jobstatus}}</td>
						<td>{{j.last_txdate}}</td>
						<!-- <td>{{j.last_filecnt}}</td> -->
						<!-- <td>{{j.last_cubestatus}}</td> -->
						<!-- <td>{{j.cubeflag}}</td> -->
						<!-- <td>{{j.checkflag}}</td> -->
						<!-- <td>{{j.autooff}}</td> -->
						<!-- <td>{{j.checkcalendar}}</td> -->
						<!-- <td>{{j.calendarbu}}</td> -->
						<td>{{j.runningscript}}</td>
						<td>{{j.jobsessionid}}</td>
						<!-- <td>{{j.expectedrecord}}</td> -->
						<!-- <td>{{j.checklaststatus}}</td> -->
						<!-- <td>{{j.timetrigger}}</td> -->
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th>etl_system</th>
						<th>etl_job</th>
						<th>etl_server</th>
						<th>description</th>
						<!-- <th>frequency</th> -->
						<th>jobtype</th>
						<th>enable</th>
						<th>last_starttime</th>
						<th>last_endtime</th>
						<th>last_jobstatus</th>
						<th>last_txdate</th>
						<!-- <th>last_filecnt</th> -->
						<!-- <th>last_cubestatus</th> -->
						<!-- <th>cubeflag</th> -->
						<!-- <th>checkflag</th> -->
						<!-- <th>autooff</th> -->
						<!-- <th>checkcalendar</th> -->
						<!-- <th>calendarbu</th> -->
						<th>runningscript</th>
						<th>jobsessionid</th>
						<!-- <th>expectedrecord</th> -->
						<!-- <th>checklaststatus</th> -->
						<!-- <th>timetrigger</th> -->
					</tr>
				</tfoot>
			</table>
		</section>
	</div>
{% endblock %}
