{% extends "etl-base.html" %}

{% block title %}ETL-Admin{% endblock %}

{% block page_content %}
<h1>Welcome</h1>
    <div style="width: 300px">
        <form class="form-signin" action="/login" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="username" value="abc" id="i_username" name="i_username" class="form-control" placeholder="your username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" value="abc" id="i_password" name="i_password" class="form-control" placeholder="your password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}